*.iml
.gradle
/local.properties
/.idea
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
*.class
*.log
*.zip
/app/release
# Built APK gets copied into module/ at build time
module/system/priv-app/ThorHotkeys/ThorHotkeys.apk
